
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-12">
            <div class="well">
                <div class="row">
                <img class="col-sm-4" style="border-radius:50%; width: auto; height: 15vh" src="https://avatars3.githubusercontent.com/u/19789036?v=3&s=460">
                    <h2 class="col-sm-8">Developed by Andrew Langford</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <h3>If you have any ideas or questions you can contact me <br>
                            here are links to my social sites.
                            <a target="_blank" href="https://www.facebook.com/andrew.langford.10"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://twitter.com/abl2142?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/andrew-langford-043a426b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                    <h3>If you love this site you can donate with card or BitCoin here</h3>
                        <form action="/charge" method="post">
                            <script
                                src = "https://checkout.stripe.com/checkout.js"
                                class = "stripe-button"
                                data-key="pk_test_ZNfh54shWkZ4Ld70Y1wd2oFK"
                                data-amount="500"
                                data-name="Donation"
                                data-label="Donate"
                                data-description="Donaition to keep the site up"
                                data-locale="auto"
                                data-currency="usd"
                                data-bitcoin="true">
                            </script>
                            <input type="hidden" name="chargeAmount" value="500">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
